<div class="article-background sticky-top">
  <div class="container container-md article col-6 p-5">
    <% if @article.source.present? %>
      <p><%= @article.source %></p>
    <% else %>
      <p>Placeholder source</p>
    <% end %>
    <% if @article.image_url %>
      <div class="article-image" style="background-image: url(<%=@article.image_url%>;)">
    <% else %>
      <div class="article-image" style="background-image: url(<%= image_path('newspapers.jpg') %>)">
    <% end %>
    </div>
    <h2 class="title mt-2"><%= @article.title %></h2>
    <ul class="list-inline">
      <li class="list-inline-item">Suggested topics:</li>
      <% @article.topics.each do |topic| %>
        <li class="list-inline-item"  data-controller="toggle-heart" data-toggle-heart-class="text-secondary">
          <p><span class="badge">
            <%= link_to toggle_favorite_topic_path(topic), data: {"turbo-method": :patch} do %>
                <i data-action="click->toggle-heart#toggle" data-reveal-target="icon" class="fa-solid fa-thumbtack <%= user_signed_in? && current_user.favorited?(topic) ? "" : "text-secondary" %>" style="color: #26630c;"></i>
            <% end %>
          </span>
          <%= topic.name %></p>
        </li>
      <% end %>
    </ul>
    <p class="content"><%= @article.content %></p>
    <p>Read the original article <%= link_to "here", @article.url, class: "source-link" %></p>
  </div>
</div>
