<div class="container">
  <div class="article-background min-vh-100" data-controller="reveal" data-reveal-hidden-class="text-secondary">
    <div id="article-container" class="container" style="background: #555252">
      <h1 class="text-center pt-3" style="color: white;">Top Articles in <%= @topic.name %></h1>
      <div class="articles">
        <div class="row">
          <% @topic.articles.each_with_index do |article, index| %>
              <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
                <div class="topic">
                  <div class="card m-3 shadow-lg border-dark" style="max-width: 100%; border: none; position: static; height: 320px;">
                    <% if article.image_url? %>
                      <%= image_tag "#{article.image_url}", class: "img-thumbnail", style: "width: auto; border: none; height: 160px;" %>
                    <% else %>
                        <%= image_tag image_path("TellUsBanner.jpg"), class: "img-thumbnail", style: "width: auto; border: none; height: 160px;" %>
                    <% end %>
                    <div class="card-body border-0">
                      <p class="card-text"><%= article.title %></p>
                       <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal<%= index %>">
                        Read Article
                      </button>
                      <!-- Modal -->
                      <div class="modal fade" id="exampleModal<%= index %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                          <div class="modal-content">
                            <div class="modal-header" style="display:none;">
                              <h5 class="modal-title" id="exampleModalLabel" style="display:none;">Modal title</h5>
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body" style="padding:5px;">
                            <div class="article-background">
                              <div class="container container-md article">
                                <%= image_tag article.image_url? ? article.image_url : image_path("TellUsBanner.jpg"),
          class: "img-thumbnail article-image" %>
                                <h2 class="title mt-2"><%= article.title %></h2>
                                <p class="content"><%= article.content %></p>
                                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                  See related topics
                                </button>
                                <div class="collapse" id="collapseExample">
                                  <div class="card card-body circle">
                                    <% article.topics.each do |topic| %>
                                      <li class="list-inline-item">
                                        <p><span class="badge">
                                            <%= link_to toggle_favorite_topic_path(topic), data: {"turbo-method": :patch} do %>
                                              <i data-toggle-heart-target="icon" data-action="click->toggle-heart#toggle" class="fa-solid fa-thumbtack <%= user_signed_in? && current_user.favorited?(topic) ? "" : "text-secondary" %>" style="color: #26630c;"></i>
                                            <% end %>
                                          </span>
                                          <span data-toggle-heart-target="newTopic"><%= topic.name %></span></p>
                                      </li>
                                    <% end %>
                                  </div>
                                </div>
                                <br>
                                <%= link_to "Read the original article#{article.source.present? ? " at #{article.source}" : ""}", article.url, class: "btn btn-secondary rounded mt-2" %>
                              </div>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
