<div class="navbar navbar-expand-sm navbar-lewagon">
  <div class="container-fluid">
    <div class="px-5">
      <%= link_to world_map_path, style: "text-decoration: none;" do %>
        <p class="navbar-brand my-0 py-0" style="font-family: 'Trochut', cursive; color: white; font-size: 35px"><i class="fa-solid fa-earth-americas mx-2" style="color: #00a219;"></i>Tell<span style="font-weight:100;font-family:system-ui;">us</span></p>
      <% end %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="d-flex">
      <div class="px-4">
        <%= form_with url: countries_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Search a Country" %>
          <%= submit_tag "Search", name: "", class: "btn btn-secondary" %>
        <% end %>
      </div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <% if user_signed_in? %>
            <li class="nav-item active">
              <%= link_to "My Profile", profile_path, class: "nav-link text-white" %>
            </li>
            <li class="nav-item">
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: 'nav-link text-white' %>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              </a>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to "Action", "#", class: "dropdown-item" %>
                <%= link_to "Another action", "#", class: "dropdown-item" %>
                <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete} %>
              </div>
            </li>
          <% else %>
              <li class="nav-item">
                <%= link_to "Login", new_user_session_path, class: "btn btn-secondary mx-2 text-center text-white" %>
              </li>
              <li class="nav-item">
                <%= link_to "Sign up", new_user_registration_path, class: "btn btn-dark mx-2 text-center text-white" %>
              </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
