<div class="min-vh-100" style="background-color: white;">
  <div class="banner"></div>
  <div class="container">
    <div class="d-flex">
      <div class="col-3" style="align-items: center;
      display: flex;
      flex-direction: column;">
        <div class="avatar-bordered my-4"></div>
        <div><%= current_user.username %></div>
        <div class="pillbutton">Countries you should watch</div>
      </div>
      <div class="flex-grow-1">
        <div class="my-3">
          <h4><strong>Countries Followed</strong></h4>
        </div>
          <% current_user.favorited_by_type('Country').each do |country| %>
            <div class="col-4 my-4">
              <div class="pillbutton">
                  <%= link_to "#{country.name}", country_path(country), style: "text-decoration:none; color:black;" %>
              </div>
            </div>
          <% end %>
        <hr>
        <h4><strong>Topics Followed</strong></h4>
        <div class="d-flex" style="flex-direction:column;">
          <% current_user.favorited_by_type('Topic').each do |topic| %>
            <%= link_to topic_path(topic) do %>
              <div class="pillbutton"><%= topic.name %></div>
            <% end %>
          <% end %>
        </div>
        <hr>
        <h4><strong>Articles Saved</strong></h4>
        <div class="d-flex" style="flex-direction:column;">
          <% current_user.favorited_by_type('Article').each do |article| %>
            <%= link_to article_path(article) do %>
              <div class="pillbutton"><%= article.title %></div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
