<div class="min-vh-100" style="background-color: black; color:white;">
  <div class="banner"></div>
  <div class="container">
    <div class="d-flex" data-controller="viewcountry">
      <%# left side %>
      <div class="col-3" style="align-items: center;
      display: flex;
      flex-direction: column;">
        <div class="avatar-bordered my-4"></div>
        <h4> Welcome! <%= current_user.username %></h4>
        <h5>Today's Country Spotlight!</h5>
        <div class="d-flex align-items-center ">
          <h5 style="padding:20px;"><%= @country[0].name %></h5>
          <%= image_tag "#{@country[0].flag_url}", style: "width: 60px;" %>
        </div>
        <div class="overflow-scroll" style="height: 200px;" data-viewcountry-target="countryinput"><%= @countries_info %></div>
        <%= link_to "View articles for this Country", country_path(@country[0]), class: "pillbutton" %>
      </div>
      <%# Right side %>
      <div class="flex-grow-1">
        <div class="my-3">
          <h4><strong>Countries Followed</strong></h4>
        </div>
        <div class="country-articles">
          <% current_user.favorited_by_type('Country').each do |country| %>
            <div class="country-article" data-action="click->viewcountry#showinfo">
              <div class="country-figure">
                <%= image_tag "#{country.flag_url}", class: "country-article-image", style: "width:200px;" %>
              </div>
              <div class="country-article-body d-flex flex-column">
                <h4><%= country.name %></h4>
                <%= link_to "Read more articles", country_path(country) %>
              </div>
            </div>
          <% end %>
        </div>
        <hr>
        <h4><strong>Topics Followed</strong></h4>
        <div class="d-flex" style="flex-direction:column;">
          <% current_user.favorited_by_type('Topic').each do |topic| %>
            <%= link_to topic_path(topic) do %>
              <div class="pillbutton"><%= topic.name %></div>
            <% end %>
          <% end %>
        </div>
        <hr>
        <h4><strong>Articles Saved</strong></h4>
        <div class="d-flex" style="flex-direction:column;">
          <% current_user.favorited_by_type('Article').each do |article| %>
            <%= link_to article_path(article) do %>
              <div class="pillbutton"><%= article.title %></div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
