<div class="min-vh-100" style="background: rgb(48,46,46);
background: linear-gradient(166deg, rgba(48,46,46,1) 0%, rgba(0,0,0,1) 100%); color:white;">
  <div class="banner"></div>
  <div class="container">
    <div class="d-flex" data-controller="viewcountry">
      <%# left side %>
      <div class="col-3" style="align-items: center;
      display: flex;
      flex-direction: column;">
        <div class="avatar-bordered my-4"></div>
        <h4> Welcome! <%= current_user.username %></h4>
        <h5>Today's Country Spotlight!</h5>
        <hr style="color:white;">
        <div class="d-flex align-items-center ">
          <h5 style="padding:20px;"><%= @country[0].name %></h5>
          <%= image_tag "#{@country[0].flag_url}", style: "width: 60px;" %>
        </div>
        <div style="margin-right: 10px;">
          <div class="overflow-scroll" style="height: 325px;" data-viewcountry-target="countryinput"><%= @countries_info %></div>
          <%= link_to "View articles for this Country", country_path(@country[0]), class: "pillbutton" %>
        </div>
      </div>
      <%# Right side %>
      <div class="flex-grow-1">
        <div class="my-3">
          <h4><strong>Countries Followed</strong></h4>
        </div>
        <div>
          <div class="country-articles">
            <% current_user.favorited_by_type('Country').each do |country| %>
              <div class="country-article" data-action="click->viewcountry#showinfo" style="position:static;">
                <div class="country-figure">
                  <%= image_tag "#{country.flag_url}", class: "country-article-image", style: "width:200px;" %>
                </div>
                <div class="country-article-body d-flex flex-column" style="padding:4px; color: black; align-items: center;">
                  <% carousel_id= country.name.gsub(/\s+/,"").downcase + "Carousel"%>
                  <h5>
                    <%= link_to country.name, country, style: "text-decoration: none; color:black;" %>
                    <%= render partial: "shared/heart_icon", locals: { country: country } %>
                  </h5>
                  <div id="<%=carousel_id%>" class="carousel slide " data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <% country.articles.first(3).each do |article| %>
                        <div class="carousel-item <%= article == country.articles.first ? "active" : ""%>">
                          <div class="d-block w-100 card shadow-lg border-dark" style="border: none; height: 65px;">
                            <div class="card-body border-0">
                              <%= link_to article.title, article, class: "link-dark link-underline-opacity-0 card-text stretched-link", style: "margin-top: -18px;"%>
                            </div>
                          </div>
                        </div>
                      <% end %>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#<%=carousel_id%>" data-bs-slide="prev" style="z-index:0;">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#<%=carousel_id%>" data-bs-slide="next" style="z-index:0;">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
                  <%= link_to "Read more articles", country_path(country), class: "h6", style: "text-decoration:none; color: black; padding: 2px 20px", class: "pillbutton" %>
                </div>
              </div>
            <% end %>
          </div>
          <hr>
        </div>
        <h4><strong>Topics Followed</strong></h4>
        <div class="d-flex" style="flex-direction:column;">
          <% current_user.favorited_by_type('Topic').each do |topic| %>
            <%= link_to topic_path(topic) do %>
              <div class="pillbutton">#<%= topic.name %></div>
            <% end %>
          <% end %>
        </div>
        <hr>
        <h4><strong>Articles Saved</strong></h4>
        <div class="d-flex" style="flex-direction:column;margin-bottom: 40px;">
          <% current_user.favorited_by_type('Article').order(:created_at).each do |article| %>
            <%= link_to article_path(article) do %>
              <div class="pillbutton"><%= article.title %> <%= article.created_at.strftime("%b-%d-%Y") %></div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
