<div class="container bg-dark text-white h-100">
  <div class="d-flex flex-row">
    <% if country.flag_url? %>
      <%= image_tag(country.flag_url, height: 75) %>
    <% end %>
    <h2 class="text-center text-white ms-4 align-self-center">Top Articles from <%= country.name.start_with?("United") ? "the" : ""%> <%= country.name %> <%= render partial: "shared/heart_icon", locals: {country: country} %></h2>
  </div>
  <div class="d-flex flex-row popup-articles">
    <% country.articles.first(3).each do |article| %>
      <div class="card col-4 m-3 shadow-lg border-dark position-relative" style="border: none; height: 213px;">
        <%= image_tag article.image_url? ? article.image_url : image_path("TellUsBanner.jpg"),
              class: "img-thumbnail", style: "height: 123px; object-fit: cover;" %>
        <div class="card-body px-2 pb-0 border-0">
          <a class="card-text stretched-link" data-bs-toggle="modal" data-bs-target="#articleModal<%= article.id %>">
            <%= article.title %>
          </a>
        </div>
      </div>
    <% end %>
  </div>
  <div class="d-flex justify-content-center w-100">
    <%= link_to "See more", country, class: "btn btn-primary" %>
  </div>
</div>
