<div class="container bg-dark text-white h-100">
  <h2 class="text-center text-white">Top Articles from <%= country.name.start_with?("United") ? "the" : ""%> <%= country.name %> <%= render partial: "shared/heart_icon", locals: {country: country} %></h2>
  <div class="d-flex flex-row popup-articles">
    <% country.articles.first(3).each do |article| %>
        <div class="card col-4 m-3 shadow-lg border-dark position-relative" style="border: none; height: 213px;">
          <%= image_tag article.image_url? ? article.image_url : "TellUsBanner",
              class: "img-thumbnail", style: "height: 123px; object-size: cover;" %>
          <div class="card-body px-2 pb-0 border-0">
            <p><%= link_to article.title, article, class: "link-dark link-underline-opacity-0 fs-6 card-text stretched-link" %></p>
          </div>
        </div>
      <% end %>
  </div>
  <div class="d-flex justify-content-center w-100">
    <%= link_to "See more", country, class: "btn btn-primary" %>
  </div>
</div>
