<div id="article-container" class="container pt-3 min-vh-100" style="background: #555252">
  <h1 class="text-center" style="color: white;">Top Articles in <%= @country.name %></h1>
  <div class="articles">
    <div class="row">
      <% @country.topics.uniq.each do |topic| %>
        <% if @country.articles.any? { |article| article.topics.include?(topic) } %>
          <h2 class="mx-5" style="color: white"><%= topic.name.capitalize%></h2>
          <% @country.articles.each_with_index do |article, index| %>
            <% if article.topics.include?(topic) %>
              <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
                <div class="topic">
                  <div class="card m-3 shadow-lg border-dark" style="max-width: 100%; border: none; position: static; height: 320px;">
                    <%= image_tag article.image_url? ? article.image_url : image_path("TellUsBanner.jpg"),
                          class: "img-thumbnail article-card-img" %>
                    <div class="card-body border-0">
                      <p class="card-text"><%= article.title %></p>
                      <%# modal try %>
                      <button type="button" class="btn btn-primary" data-controller="render-article" data-action="click->render-article#render" data-render-article-id-value="<%= article.id %>" data-bs-toggle="modal" data-bs-target="#exampleModal<%= index %>">
                        Read Article
                      </button>
                      <%= render partial: "articles/modal", locals: {article: article, index: index} %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
</div>
