<!DOCTYPE html>
<html>
  <head>
    <title>Tellus</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet' />

  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
    <div class="page-content" data-controller="toggle-heart" data-toggle-heart-toggle-class="text-secondary" data-controller="sidebar">
      <div class="d-flex m-0 p-0">
        <div class="flex-grow-1">
          <%= yield %>
        </div>
      <div class="col-2" data-sidebar-target="sidebar" data-expanded="<%= user_signed_in? ? "1" : "0" %>">
        <%= render "shared/sidebar" %>
      </div>
    </div>
  </div>

    <div class="footer">
      <p>Copyright 2050 Tellus LLC</p>
    </div>
  </body>
</html>
